:root {
    --avocado-40: #547e4e;
    --avocado-60: #7ac46e;
    --ultramarine-15: hsl(214deg 100% 15%);
    --ultramarine-30: hsl(214deg 100% 30%);
    --ultramarine-40: hsl(214deg 100% 40%);
    --ultramarine-45: hsl(214deg 100% 45%);
    --ultramarine-50: hsl(214deg 100% 50%);
    --ultramarine-55: hsl(214deg 100% 55%);
    --ultramarine-60: hsl(214deg 100% 60%);
    --ultramarine-65: hsl(214deg 100% 65%);
    --ultramarine-70: hsl(214deg 100% 70%);
    --ultramarine-75: hsl(214deg 100% 75%);
    --ultramarine-80: hsl(214deg 100% 80%);
    --ultramarine-85: hsl(214deg 100% 85%);
    --ultramarine-90: hsl(214deg 100% 90%);
    --ultramarine-97: hsl(216deg 100% 97%);
    --slate-00-10: hsl(0deg 0% 0% / 10%);
    --slate-00-20: hsl(0deg 0% 0% / 20%);
    --slate-00-30: hsl(0deg 0% 0% / 30%);
    --slate-00-40: hsl(0deg 0% 0% / 40%);
    --slate-00-50: hsl(0deg 0% 0% / 50%);
    --slate-00-60: hsl(0deg 0% 0% / 60%);
    --slate-00-70: hsl(0deg 0% 0% / 70%);
    --slate-00-80: hsl(0deg 0% 0% / 80%);
    --slate-00-90: hsl(0deg 0% 0% / 90%);
    --slate-00: hsl(0deg 0% 0%);
    --slate-10-90: hsl(0deg 0% 10% / 90%);
    --slate-07: hsl(0deg 0% 07%);
    --slate-10: hsl(0deg 0% 10%);
    --slate-13: hsl(0deg 0% 13%);
    --slate-15: hsl(0deg 0% 15%);
    --slate-17: hsl(0deg 0% 17%);
    --slate-20: hsl(0deg 0% 20%);
    --slate-25: hsl(0deg 0% 25%);
    --slate-30: hsl(0deg 0% 30%);
    --slate-40: hsl(0deg 0% 40%);
    --slate-45: hsl(0deg 0% 45%);
    --slate-50: hsl(0deg 0% 50%);
    --slate-55: hsl(0deg 0% 55%);
    --slate-60: hsl(0deg 0% 60%);
    --slate-70: hsl(0deg 0% 70%);
    --slate-80: hsl(0deg 0% 80%);
    --slate-90: hsl(0deg 0% 90%);
    --slate-94: hsl(0deg 0% 94%);
    --slate-95: hsl(0deg 0% 95%);
    --slate-96: hsl(0deg 0% 96%);
    --slate-97: hsl(0deg 0% 97%);
    --slate-100: hsl(0deg 0% 100%);
    --slate-transparent-100: rgb(255 255 255 / 0%);
    --slate-transparent-00: rgb(0 0 0 / 0%);
    --slate-transparent-90: hsla(0deg 0% 90% 0.2);
    --slate-transparent-25: hsla(0deg 0% 25 0.2);
    --apple-30: hsl(350deg 88% 30%);
    --apple-45: hsl(350deg 89% 45%);
    --apple-50: hsl(350deg 89% 50%);
    --apple-55: hsl(350deg 89% 55%);
    --apple-60: hsl(350deg 88% 60%);
    --apple-70: hsl(350deg 88% 70%);
    --apple-75: hsl(350deg 89% 75%);
    --apple-85: hsl(350deg 89% 85%);
    --apple-97: hsl(351deg 87% 97%);
    --lime-15: hsl(112deg 84% 15%);
    --lime-25: hsl(112deg 84% 25%);
    --lime-35: hsl(112deg 84% 35%);
    --lime-40: hsl(112deg 84% 40%);
    --lime-50: hsl(112deg 84% 50%);
    --lime-75: hsl(112deg 84% 75%);
    --lime-90: hsl(112deg 84% 90%);
    --lime-97: hsl(111deg 87% 97%);
    --plum-20: hsl(264deg 56% 20%);
    --plum-50: hsl(264deg 56% 50%);
    --plum-60: hsl(264deg 56% 60%);
    --plum-70: hsl(264deg 56% 70%);
    --plum-75: hsl(264deg 56% 75%);
    --plum-90: hsl(264deg 56% 90%);
    --plum-97: hsl(264deg 60% 97%);
    --pineapple-05: hsl(45deg 100% 05%);
    --pineapple-15: hsl(45deg 100% 15%);
    --pineapple-45: hsl(45deg 100% 45%);
    --pineapple-50: hsl(45deg 100% 50%);
    --pineapple-65: hsl(45deg 100% 65%);
    --pineapple-75: hsl(45deg 100% 75%);
    --pineapple-90: hsl(45deg 100% 90%);
    --pineapple-97: hsl(44deg 100% 97%);
    --tangerine-50: hsl(16deg 100% 50%);
    --tangerine-97: hsl(16deg 100% 97%);
    --blueberry-98: hsl(200deg 27% 98%);
    --blueberry-97: hsl(220deg 37% 97%);
    --blueberry-92: hsl(220deg 38% 92%);
    --blueberry-90: hsl(220deg 38% 90%);
    --blueberry-85: hsl(220deg 37% 85%);
    --blueberry-50: hsl(215deg 20% 50%);
    --blueberry-45: hsl(214deg 21% 45%);
    --blueberry-25: hsl(220deg 37% 25%);
    --watermelon-97: hsl(180deg 72% 97%);
    --watermelon-40: hsl(180deg 72% 40%);
    --raspberry-97: hsl(330deg 86% 97%);
    --raspberry-50: hsl(330deg 86% 50%);
    --coconut-97: hsl(15deg 100% 97%);
    --coconut-80: #ffb299;
    --coconut-30: hsl(15deg 100% 30%);
    --coconut-40: hsl(15deg 100% 40%);
    --elderberry-97: hsl(242deg 92% 97%);
    --elderberry-60: hsl(242deg 92% 60%);
    --elderberry-50: hsl(242deg 92% 50%);
    --gradient-1_color-1: hsl(24deg 95% 50%);
    --gradient-1_color-2: hsl(47deg 100% 50%);
    --gradient-2_color-1: hsl(214deg 100% 65%);
    --gradient-2_color-2: hsl(214deg 100% 45%);
    --nav-gradient-start: #19d89e;
    --nav-gradient-end: #0a6def;
    --box-shadow-10: 0px 0.2px 0px rgb(0 0 0 / 7%),
        0px 0.8px 0.6px rgb(0 0 0 / 10%), 0px 1.7px 2.2px rgb(0 0 0 / 13%),
        0px 4px 8px rgb(0 0 0 / 20%);
    --box-shadow-20: 0px 0.8px 4px rgb(0 0 0 / 9%), 0px 2px 6px rgb(0 0 0 / 14%),
        0px 10px 10px rgb(0 0 0 / 15%);
    --box-shadow-30: 0px 0.8px 2.2px rgb(0 0 0 / 2%),
        0px 2px 5.3px rgb(0 0 0 / 3%), 0px 3.8px 10px rgb(0 0 0 / 3%),
        0px 6.7px 17.9px rgb(0 0 0 / 4%), 0px 12.5px 33.4px rgb(0 0 0 / 5%),
        0px 30px 80px rgb(0 0 0 / 7%);
    --box-shadow-70: 0 2px 4px 0 rgb(0 0 0 / 80%);
    --box-shadow-80: 0 4px 8px rgb(0 0 0 / 60%);
    --box-shadow-90: 0 8px 16px rgb(0 0 0 / 80%);
    --tropical-05: #f240c8;
    --tropical-10: #0089ff;
    --tropical-15: #18f496;
    --tropical-20: #16a6ee;
}
